<%= require('./partials/header.ejs')() %>

<h1>Autre page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ab in sapiente unde ipsam, necessitatibus vero corrupti! Ipsa facilis magni nemo reprehenderit sequi? Unde ab quod sint ullam inventore! Ratione.</p>

<%= require('./partials/footer.ejs')() %>
